@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: rgb(255, 249, 249);
    height: 100%;
    font-size: 0.940rem;
    line-height: 1.65;
    background-color: #000000ec;
    word-wrap: break-word;
    margin: 0; 
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    font-weight: 200;
    margin: 0;  
}

h2 {
    font-size: 1.75rem;
    font-weight: 200;
    margin-bottom: 0;
    color:rgb(255, 255, 255);
    text-decoration: underline;
}





.sidebar {
    position: fixed;
    background-image: url("/images/fond.jpg");
    background-size: cover;
    top: 0;
    bottom: 0;
    text-align: center;
    width: 33%;
    color: rgb(255, 255, 255);
}

.sidebar-inner {
    padding: 30% 30px;
}



header h1 {
    font-size: 2.4rem;
    margin-top: 50%;
}






main {
    display: block;
    margin-left: 33%;
    padding: 6%;
}



main h2 {
    margin: 0.83em 0;
}

main h3 {
    margin-bottom: 0.5em;
}

main .section {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
    flex-grow: 1;   
}

main .text {
    flex-grow: 1;
    margin-bottom: 0.8em;
}



main .restaurant {
    display: flex;
    align-items: center;
}



main .restaurant p {
    margin: 0;    
    color: rgba(219, 108, 16, 0.571);
}

main .dots {
    border-bottom: 1px solid #c57b7b;
    flex: 2;
    margin: 0 10px 0 10px;
}

main .adresse {
    margin: 0 0 20px 0;
    color: rgba(204, 183, 183, 0.581);
}

main .img {
    width: 50%;
    height: auto;
    margin-left: 6%;
    padding: 25px 40px;  
}


main .left {
    order: -1;
    margin-left: 0;
    margin-right: 6%;
}



@media (min-width: 481px) and (max-width: 1024px) {
    .sidebar-inner {
        padding: 50% 30px;
    }
    .sidebar-inner .logo{
        width: 100%;
        height: 15em;
        margin-left: 0;
    }

    header h1 {
        font-size: 1.8rem;
    }

    main .section {
        flex-direction: column;
    }

    main .img {
        width: 100%;
        height: 15em;
        margin-left: 0;
    }

    main .left {
        order: 2;
        margin-right: 0;
    }
}

